<h1>Ceci n'est pas un chapeau</h1>
<div class="container">
  <form action="/answer" data-turbo="false">
    <input class="form-control my-3" type="text" name="question" placeholder="Ask your question here">
    <input class="btn btn-primary" type="submit" value="Ask!">
  </form>
</div>
